<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Felices 6 Meses</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/novia.css">
</head>
<body id="body" class="container">
<div class="row" id="contenido">
    <div class="row">
        <img src="static/img/collage_novia.jpg" class="imgs" id="collage">
    </div>
    <div class="row">
        <p id="parrafo">
            Se que probablemente, este uno de los regalos más bizarros que podría hacer una persona. Es por eso mismo que lo hice, quería hacer algo distinto ya que eres una persona especial y diferente.
            Tengo que admitir que cuando te conocí me sentí de una forma muy extraña. No había conocido a una chica con la que haya tenido química de una forma tan rápida y en un tiempo tan corto.
            Por algun motivo, siempre tuve esa idea en mi cabeza, de que algo podía pasar entre nosotros; sin embargo, tenía miedo de dar un paso adelante ya que normalmente, me cuesta mucho abrirme con las personas.
            En el tiempo que fuimos amigos siempre fuiste una persona preocupada y agradable, aunque tal vez yo no me haya comportado de la mejor manera; y honestamente, me arrepiento de eso.
            En fin, fuimos amigos por un muy bien tiempo, hasta que ambos decidimos (creo yo), probar si podía realmente haber algo entre nosotros; y hasta el día de hoy, no me arrepiento de esta decisión.
            Hace mucho que no sentía esta libertad y tranquilidad; desde el día en que fuimos al teatro a ver la obra, hasta el día que fuimos a comer al jockey, sentí que realmente podíamos ser una pareja solida que se ama de verdad.
            Hemos tenido momentos de alegría, asi como también de tristeza; sin embargo, los hemos sabido atravesar y nuestra relación se ha hecho más fuerte cada día que pasa.
            Míranos ahora, vamos 6 meses, y estoy más que seguro que tenemos toda una vida por delante. Sé que como hasta ahora, lograremos resolver todo lo que se presente en nuestro camino.
            Sé que ya te había dado una pista acerca de como iba a ser tu regalo, y en serio espero que te guste lo que viene.
        </p>
    </div>
    <div class="row" id="row_feb">
        <img id="febrero" src="static/img/febrero.JPG" class="imgs">
    </div>
    <div class="row">
        <div class="poema">
            <p>
                Sé que para ti</br>
                este poema es burdo,</br>
                pero expresar mi amor por ti</br>
                no me parece absurdo</br>
            </p>
            <p>
                Desde el día que te conocí</br>
                aprendí una cosa,</br>
                no pude conocer</br>
                mujer más maravillosa</br>
            </p>
            <p>
                Enfrentamos obstáculos</br>
                y no estamos seguros;</br>
                pero de algo sí lo estoy,</br>
                contigo veo un futuro</br>
            </p>
            <p>
                También en corto tiempo</br>
                he llegado a entender</br>
                que hay mil maneras</br>
                de amar a una mujer</br>
            </p>
            <p>
                Solo me queda decir</br>
                Felices Seis Meses!</br>
                Todo en este mundo,</br>
                amor mío, te mereces</br>
            </p>
        </div>
    </div>
    <div class="row">
        <img src="static/img/6_meses_1.png" style="width: 100%" class="imgs imag" id="6_meses">
    </div>
    <div class="row">
        <div class="slideshow-container" id="slideshows">
            <div class="mySlides fade">
                <img src="static/img/1.jpg" style="width:50%; height: 50% " class="imgs imag">
            </div>
            <div class="mySlides fade">
                <img src="static/img/2.JPG" style="width:50%; height: 50% " class="imgs imag">
            </div>
            <div class="mySlides fade">
                <img src="static/img/3.JPG" style="width:100%; height: 150%" class="imgs imag">
            </div>
            <div class="mySlides fade">
                <img src="static/img/4.JPG" style="width:60%; height: 60%" class="imgs imag">
            </div>
            <div class="mySlides fade">
                <img src="static/img/5.JPG" style="width:50%; height: 50%" class="imgs imag">
            </div>
            <div class="mySlides fade">
                <img src="static/img/6.JPG" style="width:50%; height: 50%" class="imgs imag">
            </div>
            <div class="mySlides fade">
                <img src="static/img/7.JPG" style="width:50%; height: 50%" class="imgs imag">
            </div>
            <div class="mySlides fade">
                <img src="static/img/8.JPG" style="width:50%; height: 50%" class="imgs imag">
            </div>
            <div class="mySlides fade">
                <img src="static/img/9.JPG" style="width:80%; height: 80%" class="imgs imag">
            </div>
            <div class="mySlides fade">
                <img src="static/img/10.JPG" style="width:50%; height: 50%" class="imgs imag">
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
<script src="static/javascript/novia.js"></script>
</body>
</html>